*{
    padding: 0px;
    margin:0px;
}

.top-menu a{
    text-decoration: none;
}
.logo{
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 700;   
}
.logo a {
    color: #3c97e8;
}
.logo span{
    color: #9bdf46;
}
.icon i {
color: #fff;
background-color:#9bdf46; 
border-radius: 50%;
padding: 15px 15px; 
font-size:14px;     
}
.location1 a {
    color: black;
    font-size: 16px; 
    font-weight: 300;
}
@media only screen and (max-width:972px) {
  .location1{
    display: none!important;
  }
    .nav-menue button{
       position: absolute;
        top: 60px;
        right: 5px;
    }
}

.menu1 ul li .nav-link {
color: black !important;
font-size: 18px; 
font-weight:400;
padding:10px 15px !important; 
}
.active{
 color: #9bdf46; !important   
}

.nav-link:hover{
color:#9bdf46;
}
.dropdown-menu{
    background:#282e34;
}
.dropdown-item{
color: #fff !important;
}
.dropdown-item:hover{
    background: #282e34;
    color: #fff !important;

}
.piso1{
  position: relative;
}

.piso1-layer{ 
    background: linear-gradient(to right,white 0%,white 30%,rgba(255,255,255,0)75%, rgba(255,255,255,0)100%); 
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    position: absolute;
}
.piso2-layer{
    background: linear-gradient(to bottom,white 0%, rgba(255,255,255,0)100%); 
    top:0px;
    right:0px;
    left:0px;
    height: 150px;
    position: absolute;
} 
.piso1-content h1 strong {
 color: #3c97e8;   
}
.piso1-content h4
{
    font-size: 24px;
    font-weight: 300;
    font-family: "Poppins", Arial, sans-serif;
}


/* FOOTER */
footer {
    background-color: #282e34;
}
footer .nav-item{
padding: 10px;        
}
footer .nav-item a {
color: #ffff;    
font-size: 16px;
font-weight:600;    
}
footer .nav-item .nav-link i {
color:#3c97e8;    
}
footer .form-control-lg ,.form-control{
font-size: 1rem;
padding: .5rem 1.8rem;
background-color: rgba(0,0,0,0.5);
border: none;
color: #cccc;
}